{% extends "wakawaka/base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block title %}
    {% if page.is_initial %}
        {% blocktrans with page.slug as slug %}Add {{ slug  }}{% endblocktrans %}
    {% else %}
        {% blocktrans with page.slug as slug %}Edit {{ slug  }}{% endblocktrans %}
    {% endif %}
{% endblock %}

{% block content %}
  <h1>
      {% if page.is_initial %}
          {% blocktrans with page.slug as slug %}Add {{ slug  }}{% endblocktrans %}
      {% else %}
          {% blocktrans with page.slug as slug %}Edit {{ slug  }}{% endblocktrans %}
      {% endif %}
  </h1>

  {% if rev.is_not_current %}
  <p class="revert-warning">{% trans "You are editing an revision which is not the latest!" %}</p>
  {% endif %}

  <form class="form-horizontal" method="POST">
    {% csrf_token %}

    {{ form|bootstrap }}
    
    <p class="help-block">
    <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> is used for formatting.
    CamelCase words are autolinked to wikipages.
    </p>
    <div class="form-actions">
    <input type="submit" class="btn-primary btn-large" value="{% trans "Save changes" %}" />
    {% trans "or" %} 
    <a href="{% if page.is_initial %}javascript:window.history.go(-1);{% else %}{% url wakawaka_page slug=page.slug %}{% endif %}">
      {% trans "Cancel" %}
    </a>
    </div>
    
  </form>

{% endblock %}
