{% extends "wakawaka/base.html" %}

{% block title %}
  List of all revisions
{% endblock %}

{% block content %}
<h1>List of all revisions</h1>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Page</th>
      <th>Changed</th>
      <th>Message</th>
      <th>Modified by</th>
    </tr>
  </thead>
  <tbody>
  {% for rev in revision_list %}
    <tr>
      <td><a href="{% url wakawaka_page slug=rev.page.slug, rev_id=rev.pk %}">{{ rev.page.slug }}</a></td>
      <td class="modifed">{{ rev.modified|timesince }} ago</td>
      <td class="message">{{ rev.message }}</td>
      <td class="creator"><a href="{% url public_profile rev.creator.username %}">{{ rev.creator.get_full_name }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
