@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption);

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

a {
  color: #B65353;
}

h1,h2,h3 {
  font-family: 'PT Serif Caption', serif;;
  font-weight: normal;
  color: #B65353;
}

h1 {
  font-size: 2.4em;
  line-height: 1.6em;
}

.wiki-page * {
  font: 19px Georgia;
}

.wiki-page p {
  line-height:1.3em;
  margin-bottom:10px;
}

.wiki-page h2 {
  font-size: 2em;
  line-height: 1.4em;
  padding: 1.3em 0 0 0;
  margin: 0 auto 0.8em;
}


.wiki-page-info {
  font-size: 11px;
}

div.alert ul {
  list-style-type:none;
}

.form-horizontal textarea {
  width:740px;
  height:370px;
}
<a
em {
  font-style:italic !important;
}

strong {
  font-weight:bold !important;
}

nav {
    position: fixed;
    top: 0px;
    padding: 0.2em 0 0.2em 0;
    background-color: #0E0E0E;
    opacity: 0.8;
    width: 100%;
    z-index: 77;
    color:#E8E8E8;
}

nav ul {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding:0;
}

nav li {
    list-style-type:none;
    display:inline;
    padding:0 0.5em 0 0;
}


/*
SoCraTes colorscheme:
  red -> #B65353
  blue -> #3161B9
  grey -> #E8E8E8
*/