@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption);

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

a {
  color: #B65353;
}

h1,h2,h3 {
  font-family: 'PT Serif Caption', serif;;
  font-weight: normal;
  color: #B65353;
}

h1 {
  font-size: 2.4em;
  line-height: 1.6em;
}

.wiki-page h2 {
  font-size: 2em;
  line-height: 1.4em;
  padding: 1.3em 0 0 0;
  margin: 0 auto 0.8em;
}

.wiki-page p {
  line-height:1.3em;
  margin-bottom:10px;
}

.wiki-page * {
  font: 19px Georgia;
}

.wiki-page-info {
  font-size: 11px;
}

div.alert ul {
  list-style-type:none;
}

.form-horizontal textarea {
  width:740px;
  height:370px;
}

em {
  font-style:italic !important;
}

strong {
  font-weight:bold !important;
}

/*
SoCraTes colorscheme:
  red -> #B65353
  blue -> #3161B9
  grey -> #E8E8E8
*/