{% extends "gatekeeper/registration_base.html" %}
{% load bootstrap %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="row">
  <div class="span5">
    <h2>SoCraTes login</h2>
    
    {% if form.non_field_errors %}
    <div class="alert alert-error">
      <p>{{ form.non_field_errors }}</p>
    </div>
    {% endif %}
    
    <form method="post" action="{% url django.contrib.auth.views.login %}">
      {% csrf_token %}

      <label class="control-label">
        Email
      </label>
      <div class="controls">
          {{ form.username }}
          {% for error in form.username.errors %}
              <span class="help-inline">{{ error }}</span>
          {% endfor %}
      </div>

      <label class="control-label">
        {{ form.password.label }}
      </label>
      <div class="controls">
          {{ form.password }}
          {% for error in form.password.errors %}
              <span class="help-inline">{{ error }}</span>
          {% endfor %}
      </div>

      <p>
         <a href="{% url auth_password_reset %}">Forgot</a> your password?
         <a href="{% url registration_register %}">Need an account</a>?
      </p>

      <div class="form-actions">
        <input type="submit" class="btn-primary" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>
  <!--
  <div class="span5">
      {% include "gatekeeper/oauth.html" %}
  </div>
  -->
</div>
{% endblock %}
