{% extends "base.html" %}

{% block title %}SoCraTes 2014 Agenda{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Schedule <span class="text-muted">of SoCraTes 2014.</span></h1>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

        <h2>Format</h2>

        <p class="lead">
            The event will be run as a two day
            <a href="http://agilecoachcamp.org/tiki-index.php?page=OpenSpace">Open Space</a>, facilitated by
            <a href="http://blog.connexxo.com/" target="_blank">Pierluigi Pugliese</a>, a highly skilled
            facilitator.
        </p>

        <dl>
            <dt>Thursday evening</dt>
            <dd>Opening: What do you want to do here? Probably in
                <a href="https://en.wikipedia.org/wiki/The_World_Cafe">World Café</a> format.
            <dt>Friday</dt>
            <dd>Open Space day 1</dd>
            <dt>Saturday</dt>
            <dd>Open Space day 2</dd>
            <dt>Sunday (optional, additional registration required)</dt>
            <dd>Workshops, e.g. <a href="http://coderetreat.org/">Code Retreat</a> (details to be announced).</dd>
        </dl>

        <p>
            To get an impression of what you can expect, have a look at last year's schedule for
            <a href="/static/socrates_2013_collection/large-12.html">Friday</a> and
            <a href="/static/socrates_2013_collection/large-13.html">Saturday</a>.
            You can see that the range of topics is quite diverse, as is the kind of session (discussion, hands-on
            coding, ...).<br/>
        </p>

        <p>
            Open Space means there is no agenda, or rather: <strong>you</strong> set the agenda. This is your time, make
            the best of it!
            For ideas about what you an do in advance have a look at <a
                href="http://www.unconference.net/unconferencing-how-to-prepare-to-attend-an-unconference/"
                target="_blank">unconference.net</a>.
            You can also read some experience reports from last year:
            <a href="http://blog.florian-hopf.de/2013/08/socrates-2013-two-days-of-open-space.html">Florian Hopf</a>,
            <a href="http://monospacedmonologues.com/post/58252924228/socrates-2013">Samir Talwar</a>,
            <a href="https://blog.codecentric.de/en/2013/08/socrates2013/">Robert Hostlowsky</a>, and a bit
            about the <a href="http://www.shino.de/2014/03/03/socrates-2014/">history of SoCraTes</a> by Markus Gärtner.
        </p>


        <p>
            Facilitation will be in English. However, it will be possible to run sessions in other languages.
        </p>

        <h2>Evening activities</h2>

        <p>
            In the previous years there were a multitude of things going on in
            the evenings, from music (some participants brought instruments,
            songbooks etc., one year they even wrote a song about the
            conference) over board games to
            <a href="https://github.com/janernsting/maexchen">live-hacking programs to play mia against each other</a>.
            And of course there's always plenty of people to just talk to, or continue discussions from the day.
        </p>
    </div>

    <!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">-->
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1">
        <blockquote class="blockquote-reverse">
            <p>
                <strong>Open Space Technology (OST)</strong> is an approach for hosting meetings,
                conferences, corporate-style retreats and community summit events, focused on a specific
                and important purpose or task—but beginning without any formal agenda, beyond the overall
                purpose or theme.
            </p>
            <cite><a href="http://en.wikipedia.org/wiki/Open_Space_Technology" target="_blank">Wikipedia</a></cite>
        </blockquote>
    </div>
</div>


{% endblock %}
