<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}SoCraTes 2014{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Serif+Caption" rel="stylesheet" type="text/css">
    <!--link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet'
          type='text/css'-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Individual styles -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
    {% block extrahead %}{% endblock %}
</head>

<body role="document">

{% block navigation %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">SoCraTes 2014</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li{% block activepage_home %}{% endblock %}><a href="{% url 'home' %}">Home</a></li>
                <li{% block activepage_registration %}{% endblock %}><a href="{% url 'registration' %}">Registration</a></li>
                <li{% block activepage_schedule %}{% endblock %}><a href="{% url 'schedule' %}">Schedule</a></li>
                <li{% block activepage_location %}{% endblock %}><a href="{% url 'location' %}">Location</a></li>
                <li{% block activepage_history %}{% endblock %}><a href="{% url 'history' %}">History</a></li>
                <li{% block activepage_sponsoring %}{% endblock %}><a href="{% url 'sponsoring' %}">Sponsoring</a></li>
                <li{% block activepage_contact %}{% endblock %}><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
{% endblock %}

<div class="container" role="main">
    {% block content %}
    ### This content should be replaced ###
    {% endblock %}

    <footer>
        <p class="pull-right">
            <a href="{% url 'impressum' %}">Impressum</a><br><br>
            <span class="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="socrates_2014" data-size="large"
               data-hashtags="socrates14">Tweet</a>
            <a href="https://twitter.com/socrates_2014" class="twitter-follow-button" data-show-count="false"
               data-size="large">Follow @socrates_2014</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');</script>
            </span>
        </p>

        <div>
            <p class="text-muted">This event is brought to you by:</p>

            <p style="margin-top:10px;"><a href="http://softwerkskammer.org" target="_blank"><img
                    src="{{ STATIC_URL }}img/SoftwerkskammerWappenLinks.png" alt="Softwerkskammer"></a></p>
        </div>
    </footer>
</div>
<!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
