{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Get in contact<span class="text-muted"> with us.</span></h1>
</div>

<p class="lead">
    You can get in touch with us – the organizers of SoCraTes 2014 – by sending an email or just contact us on Twitter.
</p>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-envelope"></i> Email</h3>
            </div>
            <div class="panel-body">
                <p>
                    Turn on your email client and mailto: <a href="mailto:info@socrates-conference.de">info@socrates-conference.de</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-twitter"></i> Twitter</h3>
            </div>
            <div class="panel-body">
                <p>Follow <a href="http://twitter.com/socrates_2014" target="_blank">@socrates_2014</a> on Twitter to
                    stay
                    up-to-date. </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
