{% extends "base.html" %}

{% block container %}
  <div class="row-fluid">
    {% include "include_wide_header.html" %}
  </div>
  
  <div class="row-fluid" style="margin-top: 20px">
    <div class="span9">
      <h3>Format</h3>
      <p>
        The event will be run as a two day 
        <a href="http://agilecoachcamp.org/tiki-index.php?page=OpenSpace">Open Space</a>, facilitated by 
        <a href="http://blog.connexxo.com/" target="_blank">Pierluigi Pugliese</a>, a highly skilled
        facilitator.
      </p>
      <p>
        To get an impression of what you will expect and especially what <em>you</em> can do in
        advance have a look at: <a
        href="http://www.unconference.net/unconferencing-how-to-prepare-to-attend-an-unconference/"
        target="_blank">unconference.net</a>
      </p>
      <p>
        Facilitation will be in English. However, it will be possible to run sessions in other languages.
      </p>
    </div>
    <div class="span3">
      <blockquote>
        <p>
          <strong>Open Space Technology (OST)</strong> is an approach for hosting meetings,
          conferences, corporate-style retreats and community summit events, focused on a specific
          and important purpose or task—but beginning without any formal agenda, beyond the overall
          purpose or theme.
        </p>
        <cite><a href="http://en.wikipedia.org/wiki/Open_Space_Technology" target="_blank">Wikipedia</a></cite>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h3>Housekeeping</h3>
      <h4>Rooms</h4>
      <p>
        Some of the facility's rooms are twin rooms.  An important aspect of
        SoCraTes is its closedness where everything happens in the same location. Therefore, we can
        only accept as many participants as there are beds available. 
      </p>
      <p>
        When you register, you can let us know whom you'd be willing to share a room with. Even if
        you don't know anybody just yet, we will do all we can to find a suitable roommate for you.
        After registration there will also be a wiki for participants to get to know each other and
        arrange things.
      </p>
      
      <h4>Location</h4>
      <p>
          Out in the country, at the lovely Hotelpark Soltau 
          (<a href="http://www.hotel-park-soltau.de/">German only website</a>), 
          approximately one  hour from Hamburg.
      </p>
      <p>
          <a href="http://goo.gl/maps/mpcC0">Winsener Straße 111, 29614 Soltau, Germany </a>
      </p>
      <p>
        It offers great facilities for community-centered events with included accommodation. We
        have rented the whole facility, so we can concentrate on what we like to do most.
      </p>
      
    </div>
  </div>
{% endblock %}
