<div class="jumbotron">
    <img src="{{ STATIC_URL }}img/socrates2014_logo_40perc.png"
         alt="SoCraTes Conference 2014 - Software Craftsmanship and Testing">
    <h1>SoCraTes 2014</h1>
    <p class="lead">4th International Software Craftsmanship and Testing Conference in Germany</p>
    <p class="lead">August 7-10 2014, Soltau, Germany</p>
    <p><a class="btn btn-lg btn-success" href="{% url 'registration' %}" role="button">How to register</a></p>
    <p class="text-muted"><small>Registration will start on April 1st, 2014</small></p>
</div>
