<div class="sponsor-sidebar">
    <h3>Sponsors</h3>
    <p>
        We are glad to be supported by the following sponsors. <br>
        <a href="{% url 'sponsoring' %}">Want to become a Sponsor too?</a>
    </p>

    <div class="sponsorlogo">
        <a href="http://www.andrena.de/" target="_blank"><img src="{{ STATIC_URL }}logos/andrena160.png"
                                                              alt="andrena objects"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.codecentric.de" target="_blank"><img src="{{ STATIC_URL }}logos/codecentric160.png"
                                                                 alt="codecentric"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.holisticon.de" target="_blank"><img src="{{ STATIC_URL }}logos/holisticon160.png"
                                                                alt="Holisticon"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.innoq.de" target="_blank"><img src="{{ STATIC_URL }}logos/innoq.png" alt="innoQ"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.it-agile.de" target="_blank"><img src="{{ STATIC_URL }}logos/it-agile160.png"
                                                                alt="it-agile"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.klosebrothers.de" target="_blank"><img src="{{ STATIC_URL }}logos/klosebrothers160.png"
                                                                alt="klose brothers"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.mozaicworks.com" target="_blank"><img src="{{ STATIC_URL }}logos/mozaic_works160.png"
                                                                  alt="Mozaic Works"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.msg-gillardon.de" target="_blank"><img src="{{ STATIC_URL }}logos/msgGillardon160.png"
                                                                   alt="msgGillardon"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.namics.de" target="_blank"><img src="{{ STATIC_URL }}logos/namics.jpg" alt="Namics (Deutschland) GmbH" width="160px"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://qafoo.com" target="_blank"><img src="{{ STATIC_URL }}logos/qafoo160.png" alt="Qafoo"></a>
    </div>


    <div class="sponsorlogo">
        <a href="http://www.smartsquare.de" target="_blank"><img src="{{ STATIC_URL }}logos/smartsquare160.png" alt="Smartsquare"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.thoughtworks.com" target="_blank"><img src="{{ STATIC_URL }}logos/thoughtworks160.png" alt="ThoughtWorks"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.tngtech.com" target="_blank"><img src="{{ STATIC_URL }}logos/tng160.png" alt="TNG Technology Consulting"></a>
    </div>

    <div class="sponsorlogo">
        <a href="http://www.uxebu.com" target="_blank"><img src="{{ STATIC_URL }}logos/uxebu.png" alt="uxebu"></a>
    </div>
</div>
