<h3>
    Sponsors
</h3>
<p>
    We are glad to be supported by<br>(ordered alphabetically):
</p>
<div class="sponsorlogo">
    <a href="http://www.andrena.de/" target="_blank"><img src="{{ STATIC_URL }}logos/andrena160.png"
                                                             alt="andrena objects"></a>
</div>

<div class="sponsorlogo">
    <a href="http://www.codecentric.de" target="_blank"><img src="{{ STATIC_URL }}logos/codecentric160.png"
                                                             alt="codecentric"></a>
</div>

<div class="sponsorlogo">
    <a href="http://www.holisticon.de" target="_blank"><img src="{{ STATIC_URL }}logos/holisticon160.png"
                                                            alt="Holisticon"></a>
</div>

<div class="sponsorlogo">
    <a href="http://www.mozaicworks.com" target="_blank"><img src="{{ STATIC_URL }}logos/mozaic_works160.png"
                                                              alt="Mozaic Works"></a>
</div>

<div class="sponsorlogo">
    <a href="http://www.msg-gillardon.de" target="_blank"><img src="{{ STATIC_URL }}logos/msgGillardon160.png"
                                                               alt="msgGillardon"></a>
</div>

<div class="sponsorlogo">
    <a href="http://qafoo.com" target="_blank"><img src="{{ STATIC_URL }}logos/qafoo160.png" alt="Qafoo"></a>
</div>

<div class="sponsorlogo">
    <a href="http://www.thoughtworks.com" target="_blank"><img src="{{ STATIC_URL }}logos/thoughtworks160.png" alt="ThoughtWorks"></a>
</div>

<div class="sponsorlogo">
    <a href="http://www.tngtech.com" target="_blank"><img src="{{ STATIC_URL }}logos/tng160.png" alt="TNG Technology Consulting"></a>
</div>
