<h3>
  Sponsors
</h3>
<p>
  We are glad to be supported by (ordered alphabetically):
</p>
<a href="http://www.adesso.de" target="_blank"><img src="{{ STATIC_URL }}logos/adesso160.png" alt="adesso"></a> 
<br/>
<a href="http://www.andrena.de" target="_blank"><img src="{{ STATIC_URL }}logos/andrena160.png" alt="andrena objects"></a> 
<br/>
<a href="http://www.codecentric.de" target="_blank"><img src="{{ STATIC_URL }}logos/codecentric160.png" alt="codecentric"></a>
<br/>
<!--a href="http://www.crealytics.de" target="_blank"><img src="{{ STATIC_URL }}logos/crealytics160.png" alt="crealytics"></a> 
<br/-->
<a href="http://devcol.de" target="_blank"><img src="{{ STATIC_URL }}logos/devcol160.png" alt="devcol"></a>
<br/>
<a href="http://www.elektrobit.com" target="_blank"><img src="{{ STATIC_URL }}logos/elektrobit160.png" alt="elektrobit"></a>
<br/>
<a href="http://www.holisticon.de" target="_blank"><img src="{{ STATIC_URL }}logos/holisticon160.png" alt="Holisticon"></a> 
<br/>
<a href="http://www.interface-ag.de" target="_blank"><img src="{{ STATIC_URL }}logos/interface160.png" alt="InterFace"></a> 
<br/>
<a href="http://www.it-agile.de" target="_blank"><img src="{{ STATIC_URL }}logos/it-agile160.png" alt="it-agile"></a> 
<br/>
<a href="http://klosebrothers.de" target="_blank"><img src="{{ STATIC_URL }}logos/klosebrothers160.png" alt="klose brothers"></a> 
<br/>
<a href="http://www.msg-gillardon.de" target="_blank"><img src="{{ STATIC_URL }}logos/msgGillardon160.png" alt="msgGillardon"></a> 
<br/>
<a href="http://qafoo.com" target="_blank"><img src="{{ STATIC_URL }}logos/qafoo160.png" alt="Qafoo"></a>
<br/>
<a href="http://http://www.valtech.de" target="_blank"><img src="{{ STATIC_URL }}logos/valtech160.png" alt="Valtech"></a>
<br/>
<!--a href="http://www.tngtech.de" target="_blank"><img src="{{ STATIC_URL }}logos/tng160.png" alt="tng"></a>
