<div class="span2">
  <img style="margin-top: 20px" src="{{ STATIC_URL }}img/socrates2012_logo_50perc.png" alt="SoCraTes Conference 2012 - Software Craftsmanship and Testing">
</div>
<div class="span10">
  <h1 style="margin-top: 40px">SoCraTes 2012</h1>
  <h4>
    2nd International Software Craftsmanship and Testing Conference in Germany
  </h4>
  <hr>
  <h4>
    August 2-4 2012, Rückersbach, Code Retreat on August 5
  </h4>
  <p>
    <a href="http://socrates2012.eventbrite.com/" target="_blank"><img src="http://www.eventbrite.com/custombutton?eid=3131206523" alt="Eventbrite - SoCraTes 2012"></a>
  </p>
</div>
