{% extends "base.html" %}

{% block title %}SoCraTes 2014 Home{% endblock %}

{% block content %}

{% include "include_wide_header.html" %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="page-header">
            <h1>What is it about? <span class="text-muted">Some key facts.</span></h1>
        </div>
        <p class="lead">
            This event is about the sustainable creation of useful software in a responsible way. </p>

        <h2>It's about People</h2>

        <p class="lead">
            Everyone who is concerned with coding, testing, code quality, software craftsmanship, and/or
            if &hellip;
        </p>
        <ul class="square">
            <li>you are passionate about software development and testing.</li>
            <li>you have already heard of Software Craftsmanship or even already
                are part of the growing community.</li>
            <li>you want to share your knowlege, experience and expertise.</li>
        </ul>

        <h2>It's about Action</h2>

        <p class="lead"> The event will be run as a non-profit, low-cost
            event. It is a joint-effort of all
            <a href="http://softwerkskammer.de" target="_blank">Softwerkskammer</a>
            groups, the community of all German Software Craftsmanship groups.
            It will be much like a retreat. We will be there for 48 hours to
            collaborate and share ideas. There will be:
        </p>
        <ul>
            <li>Highly collaborative interactions</li>
            <li>A self-organized Open Space, with &hellip;
                <ul class="square">
                    <li>hands-on coding sessions</li>
                    <li>sessions focused on discussion</li>
                    <li>interactive talks</li>
                    <li>lots more</li>
                </ul>
            </li>
        </ul>
        <p>
            <a href="{% url 'agenda' %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-time"></span> Checkout the full schedule</a>
        </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1">
        {% include "include_sponsor_logos.html" %}
    </div>
</div>
{% endblock %}
