{% extends "base.html" %}

{% block title %}SoCraTes Conference 2013{% endblock %}

{% block navigation %}{{ block.super }}{% endblock %}

{% block container %}
<div class="row-fluid">
    {% include "include_wide_header.html" %}
</div>

<div class="row-fluid" style="margin-top: 20px">
    <div class="span9">
        <h3>What is it about?</h3>

        <p>
            This event is about the sustainable creation of useful software in a responsible way. </p>
        <h4>
            People </h4>

        <p>
            Everyone who is concerned with coding, testing, code quality, software craftsmanship&hellip;
        </p>
        <ul class="square">
            <li>You are passionate about software development and testing.
            </li>
            <li>You have already heard of Software Craftsmanship or even already are part of the raising community.
            </li>
            <li>You want to share your knowlege, experience and expertise.
            </li>
        </ul>
        <h4>
            Action </h4>

        <p>
            The event will be run as a non-profit, low-cost event. It is a joint-effort of all <a
                href="http://softwerkskammer.de" target="_blank">Softwerkskammer</a> groups, the community of all German
            Software Craftsmanship groups. It will be much like a retreat. We will be there for 48 hours to collaborate
            and share ideas. There will be: </p>
        <ul class="square">
            <li>Highly collaborative interactions
            </li>
            <li>Lightning talks
            </li>
            <li>Self-organized Open Space
            </li>
        </ul>
        <p>
            <strong>&rarr;<a href="details.html">More Details</a></strong>
        </p>

        <h4>Registration</h4>
        <p>Registration for the event will open <strong style="color: red">Monday, June 3 at 17:00 cet</strong>.</p>

        <h4>Contact </h4>
        <p>Follow <a href="http://twitter.com/socrates_2013" target="_blank">@socrates_2013</a> on Twitter to stay up-to-date. </p>

        <p>
            <strong>Email:</strong> <a href="mailto:info@socrates-conference.de">info@socrates-conference.de</a>
        </p>
        <h5>
            This event is brought to you by: </h5><a href="http://softwerkskammer.de" target="_blank"><img
            src="{{ STATIC_URL }}img/softwerkskammer_logo.jpg" alt="Softwerkskammer"></a>
    </div>

    <div class="span3">
        {% include "include_sponsor_logos.html" %}
    </div>
</div>{% endblock %}
