{% extends "base.html" %}

{% block container %}
<div class="row-fluid" id="header">
    {% include "include_wide_header.html" %}
</div>

<div class="row-fluid" id="content-container">
    <div class="span9">
        <h3>What is it about?</h3>

        <p>
            This event is about the sustainable creation of useful software in a responsible way. </p>
        <h4>
            People </h4>

        <p>
            Everyone who is concerned with coding, testing, code quality, software craftsmanship, and/or
            if &hellip;
        </p>
        <ul class="square">
            <li>you are passionate about software development and testing.</li>
            <li>you have already heard of Software Craftsmanship or even already
                are part of the growing community.</li>
            <li>you want to share your knowlege, experience and expertise.</li>
        </ul>

        <h4> Action </h4>

        <p> The event will be run as a non-profit, low-cost
            event. It is a joint-effort of all
            <a href="http://softwerkskammer.org" target="_blank">Softwerkskammer</a>
            groups, the community of all German-speaking Software Craftsmanship groups.
            It will be much like a retreat. We will be there for 48 hours to
            collaborate and share ideas. There will be:
        </p>
        <ul class="square">
            <li>Highly collaborative interactions</li>
            <li>A self-organized Open Space, with &hellip;
                <ul class="square">
                    <li>hands-on coding sessions</li>
                    <li>sessions focused on discussion</li>
                    <li>interactive talks</li>
                    <li>lots more</li>
                </ul>
            </li>
        </ul>
        <p>
            <strong>&rarr; <a href="details.html">More Details</a></strong>
        </p>

        <h4>Registration</h4>

        <p>The registration will be done via the Softwerkskammer website. In order to be able to register to SoCraTes,
            you need to enrol in Softwerkskammer first. Once you are enrolled, you can join a group that we set up for
            everybody who is interested in participating in SoCraTes:

        <p><a href="http://www.softwerkskammer.org/groups/socrates2014">http://www.softwerkskammer.org/groups/socrates2014</a>
        </p>

        <p> The group members will be notified first about the opening of the registration and anything else that might
            be of importance.</p>
        </p>

        <h4>Contact </h4>

        <p>Follow <a href="http://twitter.com/socrates_2014" target="_blank">@socrates_2014</a> on Twitter to stay
            up-to-date. </p>

        <p>
            <strong>Email:</strong> <a href="mailto:info@socrates-conference.de">info@socrates-conference.de</a>
        </p>
    </div>

    <div class="span3">
        {% include "include_sponsor_logos.html" %}
    </div>
</div>
{% endblock %}
