{% extends "base.html" %}

{% block title %}SoCraTes 2014 Location{% endblock %}

{% block content %}
<div class="page-header">
    <h1>The Location <span class="text-muted">a lovely place.</span></h1>
</div>

<p class="lead">
    Out in the country, at the lovely Hotelpark Soltau
    (<a href="http://www.hotel-park-soltau.de/">German only website</a>),
    approximately one hour from Hamburg.
</p>

<p>
    It offers great facilities for community-centered events with included accommodation. We
    have rented the whole facility, so we can concentrate on what we like to do most.
</p>

<p>
    <a href="http://goo.gl/maps/mpcC0">Check on Google Maps: Winsener Straße 111, 29614 Soltau, Germany </a>
</p>
{% endblock %}
