{% extends "base.html" %}

{% block activepage_registration %} class="active"{% endblock %}

{% block title %}SoCraTes 2014 Registration{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Register <span class="text-muted">for SoCraTes 2014.</span></h1>
</div>

<p class="lead">
    Registration will be open starting on April 1st, 2014 @ 5pm CEST.
</p>
<p>
    Please note, that you must register for the softwerkskammer.org site itself
    before you can register for the SoCraTes 2014 conference. <br>
    Registering for softwerkskammer.org, the community site for all german
    speaking Software Craftsmanship communities, can be done before the actual
    registration for SoCraTes 2014 conference starts.
</p>
<p class="jumbotron">
    <a class="btn btn-lg btn-success"
        href="https://www.softwerkskammer.org/activities/socrates-2014"
        role="button">Register Now</a>
</p>
{% endblock %}
