{% extends "base.html" %}

{% block activepage_values %} class="active"{% endblock %}

{% block title %}SoCraTes 2014 - Our Values{% endblock %}

{% block content %}
<div class="page-header">
    <h1>The Values of SoCraTes 2014</h1>
</div>

<p class="lead">
    A primary goal of SoCraTes conference is to be inclusive to the largest
    number of contributors, with the most varied and diverse backgrounds
    possible. As such, we are committed to providing a friendly, safe and
    welcoming environment for all, regardless of gender, sexual orientation,
    programming language, ability, ethnicity, socioeconomic status, and religion
    (or lack thereof).
</p>

<p>
    And so we invite all those who participate in the SoCraTes conference and the
    community surrounding the conference to help us create safe and positive
    experiences for everyone.
</p>

<ul>
    <li><strong>Be welcoming, friendly, and patient.</strong></li>
    <li>
        <strong>Be respectful.</strong> Not all of us will agree with each other
        all the time, but disagreement is no excuse for poor behavior and poor
        manners. We might all experience some frustration now and then, but we
        cannot allow that frustration to turn into a personal attack.
    </li>
    <li>
        <strong>Be aware of the effect your words may have on others.</strong>
        We are a community of professionals, and we conduct ourselves
        professionally. Be kind to others. Do not insult or put down other
        participants. Harassment and other exclusionary behavior aren't
        acceptable.
    </li>
</ul>

<h2>Scope</h2>
<p>
    This code of conduct applies to the SoCraTes conference itself and to all
    digital spaces that are related to the SoCraTes conference, such as the wiki
    and mailing list.
</p>

<h2>Questions?</h2>
<p>
    Contact us at <a
        href="mailto:info@socrates-conference.de">info@socrates-conference.de</a>
    with any questions or concerns you might have.
</p>

<h2>Credits</h2>
<p>This Code of Conduct is heavily based on the following works.</p>

<ul>
    <li>
        <a href="https://www.djangoproject.com/conduct/">Django Code of Conduct</a>
    </li>
    <li>
        <a href="http://citizencodeofconduct.org/">Citizenship Code of Conduct</a>
    </li>
</ul>
{% endblock %}

