{% extends "registration/registration_base.html" %}
{% load bootstrap %}
{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
    <div class="alert">Your username and password didn't match. Please try again.</div>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
  {% csrf_token %}
  {{ form|bootstrap }}

  <p>
    <a href="{% url auth_password_reset %}">Forgot</a> your password?  <a href="{% url registration_register %}">Need an account</a>?
  </p>

  <div class="form-actions">
    <input type="submit" class="btn-primary" value="Login"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  
  <!--
  <p>
    <a href="{% url socialauth_begin 'twitter' %}">Login using Twitter</a>
  </p>
  -->
  
</form>

{% endblock %}
